div {
	/*background: gold;*/
	/*border: 1px solid pink;*/
}
body {
	line-height: 1.7;
	background: #F9F9F9;
}

#header {
	background: #E62020;
	color: #FFF;
	border-bottom: 4px solid #D11616;
	padding: 4px 0;
}

img#logo {
	max-height: 20px;
	vertical-align: middle;
}
#header a.login {
	color: #FFF;
	font-weight: 600;
	border: 1px solid #E62020;
	background: #B91313;
}

#header a.login:hover {
	border: 1px solid #B91313;
	background: #D11616;
}

#maincontent {
	background-color: white;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	border-radius: 0 0 6px 6px;
	margin-bottom: 30px;
	padding: 10px 14px;
}

.label {
	font-weight: 600;
}
.hint {text-align: right; margin-right: 20px;}
.omargin-top {margin-top: 40px;}


textarea,
textarea.form-control,
input.form-control,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
[type=text].form-control,
[type=password].form-control,
[type=email].form-control,
[type=tel].form-control,
[contenteditable].form-control {}



textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
	box-shadow: inset 0 -1px 0 #ddd;
}