/* erko3™ framework ~ an evolving, robust platform for rapid & efficient development of modem responsive static or dynamic website;
 * Built by SlimEdge™ [@officialSEID - www.seid.com.ng] using PHP, HTML, CSS, JS & derived technology.
 * © July 2016 | version 1.0
 * ===================================================================================================================
 * Dependency »
 * CSS | large::asset ~ large screen styles
 */

@font-face {
   font-family: 'Questrial';
   src: url('Questrial.eot');
   src: url('Questrial.eot?#iefix') format('embedded-opentype'),
         url('Questrial.woff2') format('woff2'),
         url('Questrial.woff') format('woff'),
         url('Questrial.ttf') format('truetype'),
         url('Questrial.svg#questrialregular') format('svg');
   font-weight: normal; font-style: normal;
}

mark {background: #1D88BC; color: #DAEFFA; padding: 0 2px;}
::selection {background: #28A4DF; color: #DAEFFA;}
::-webkit-scrollbar {width: 0.6em; height: 0.6em;}
::-webkit-scrollbar-track {-webkit-box-shadow: inset 1px 0 6px rgba(0,0,0, 0.4); border: 1px solid rgba(0,0,0, 0.2);}
::-webkit-scrollbar-track:hover {-webkit-box-shadow: inset 1px 0 6px rgba(0,0,0 0.1);}
::-webkit-scrollbar-thumb {
  background: #166B94; outline: 0; border: 0;
  background: linear-gradient(to right, #0F4B67 4%, #115271 10%, #166B94, #166B94, #115271 86%, #0F4B67);
}
::-webkit-scrollbar-thumb:hover {
	background: #1D88BC; background: linear-gradient(to right, #156389 4%, #17719B 10%, #1D88BC, #1D88BC, #17719B 86%, #156389);
}

body {font-family: 'Questrial', Helvetica, Arial, Tahoma, sans-serif; line-height: 1.4; min-width: 980px;}