/* Cigna™ - a micro web framework by QuickOne™
 * SiEMO™ Nigeria [www.siemo.com.ng]
 * Author(s) -> Crieg A. Siemo [www.iamsiemo.com] ~ crieg@siemo.com.ng
 * © August 2014 | version 1.0 beta
 * CSS | basis - browser reset & default styles
 * Application » erko®
 */
@import url("../_webfont/fontkit.css");
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, address, em, img, strong, tt, b, u, i, dl, dt, dd,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, section, audio, video, marquee, time, mark, small {
	margin: 0; padding: 0; border: 0;
	font: inherit; font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content:'~'; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
img {vertical-align: middle;}
h1, h2, h3, h4, h5, h6 {font-weight:bold;}
h1 {font-size: 2em;} h2 {font-size: 1.5em;} h3 {font-size: 1.17em;} h4 {font-size: 1em;} h5 {font-size: 0.83em;} h6 {font-size: 0.67em;}
.group:before, .group:after {content: " "; display: table;}
.group:after {clear: both;}
nav ul, nav li {
	list-style: none;
	margin: 0; padding: 0; border: 0;
	vertical-align: baseline;
}

/* display styles */
.hide {	
	width: 1px; height: 1px;
	margin: -1px; padding: 0; border: none;
	position: absolute;
	overflow: hidden;	
	clip: rect(0 0 0 0);
}
.reveal {position:relative;}
.invisible {visibility: hidden;}
.visible {visibility: visible;}
.phone-view, .tablet-view, .dekstop-view {display:none;}
div.viewTabHr .warning, div.viewTabHr .info, div.viewTabHr .success {padding:1px 8px; margin:30px 10px 50px 20px;}
.warning {color:#C03;} 

.info, .info:hover {color:#06C;}
.success{color:#093;}
/*form styles*/
.viewTabHr {
	border:1px solid #FFF;
	
}
div.viewTabHr {padding:4px 8px;}
div.viewTabHr .cellTitle {padding:1px 8px;}
.viewTabHr td {
	border:1px dotted #FFF;
	vertical-align:middle;
	padding:1px 4px;
	font-size: 0.9em;
}
.viewTabHr th {
	border:1px dotted #FFF;
	vertical-align:middle;
	padding:1px 4px;
	text-transform:capitalize;
}
.viewTabHr .cellTitle {
	border: 1px solid #333;
	background:#151515;
	color:#4F91AA;
}
.viewTabHr .tabTitle {
	border:1px solid #FFF;
	color:#FFFFFF;
	background:#4F91AA;
	font-size: 0.9em;
}

.viewTabHr .tabTitle a {
	color:#FFF;
	text-decoration:none;
}
.viewTabHr .tabTitle a:hover {
	text-decoration:underline;
}

.login { max-width:500px; margin-top:40px;}
.hrView, .vertView {
	margin-left:auto; margin-right:auto;
}
.hrView .heading, .vertView .heading {
	padding: 4px 10px;
	border: solid 1px #F8F8F8;
	background:#E8E8E8;
	background: linear-gradient(#FFFFFF, #F6F6F6, #E8E8E8);
	box-shadow: 0 0 1px 1px #E8E8E8;
	border-radius:3px;
	margin-bottom: 14px;
}
.hrView .buttons {display:block;	margin-left:147px;	margin-top:6px;	margin-bottom:40px;}
.vertView .buttons { display:block;  margin-left:17px; margin-top:6px; margin-bottom:40px;}
.vertView label  {	display:block;  margin-left: 17px;}
.hrView label {min-width: 140px; display:inline-block;}
label {
	font-size:1em;
	text-transform:capitalize;
	text-shadow: 1px 1px 1px #D3D3D3;
	padding:4px 2px;
	color: #950052;
	font-weight: normal;
	letter-spacing:1px;
}
.vertView input[type=text], .vertView input[type=password], .vertView textarea {min-width:360px; margin-left: 20px;}
input[type=text],input[type=password], textarea {
	padding:2px 4px; border-radius:3px;  font-size:1.2em; line-height:1.6; font-weight:normal;
	border:1px solid #E2E2E2; background: #FAFAFA; color: #7E7E7E;
	box-shadow: 0 0 3px 0 #D9D9D9; 
	margin-bottom:10px; background: linear-gradient(#FDFDFD, #F9F9F9 50%, #F5F5F5 96%, #F2F2F2 98%);
}
input[type=text] {font-family:'Lane', Arial, Helvetica, sans-serif;}
input[type=password] {padding-top:3px; padding-bottom: 1px;}
textarea {min-height: 6em;}
 input[type=submit], input[type=reset]{
	 padding:7px 12px; border-radius:4px; line-height:1.5em; font-size:0.84em; font-weight:bold;
	 text-decoration:none; text-transform:lowercase; cursor:pointer; display: inline; color:#FFF; 
	 letter-spacing:1px; text-align: center; position: relative;
	 font-family:'Lane', Arial, Helvetica, sans-serif;
 }
 input[type=submit] {
	text-shadow: 1px 1px 1px #01273A; 
	box-shadow: inset 0 1px 2px 0 rgba(255,255,255,0.6),inset 0 -4px 15px rgba(0,0,0,0.3),1px 1px 1px 1px #CCC;
	border: 1px solid #3E98C8; border-top: 1px solid #CCDCE3;
	background: #014464; background:linear-gradient(#0F719F, #0E6189 50%, #01547C 52%, #003E5B);	
}

input[type=submit]:hover, input[type=submit]:focus {
	background: #014464; background: linear-gradient(#0C5F85, #0B5273 50%, #024869 51%, #003853);
	color:#EAEAEA; cursor:pointer;
}

input[type=reset] {
	text-shadow:1px 1px 1px #330E09; margin-left:4px;
	box-shadow: inset 0 1px 2px 0 rgba(255,255,255,0.6),inset 0 -4px 15px rgba(0,0,0,0.3),1px 1px 1px 1px #CCC;
	border: 1px solid #D35656; border-top: 1px solid #F1C9C9;
	background: #7F2020; background:linear-gradient( #B12E2E, #A22929 50%, #8E2525 51%, #781F1F);
}
input[type=reset]:hover, input[type=reset]:focus {
	background: #7F2020; background: linear-gradient(#9D2828, #902525 50%, #832222 51%, #731E1E);
	color:#EAEAEA; cursor:pointer;
}
input[type="submit"]:active, input[type="reset"]:active {box-shadow: 1px 1px 3px 1px #000;}

.dropdown {
  display: inline-block; position: relative; overflow: hidden; height: 28px; min-width: 120px;
  border-radius: 3px;
  box-shadow: 0 0 3px 0 #D9D9D9; 
  border:1px solid #E2E2E2; background: #FAFAFA; color: #7E7E7E;
  background: linear-gradient(#FDFDFD, #F9F9F9 50%, #F5F5F5 96%, #F2F2F2 98%);
  margin-left:3px;
}
.dropdown:before, .dropdown:after {
  content: ''; position: absolute; z-index: 2; top: 9px; right: 10px; width: 0; height: 0;
  border: 4px dashed; border-color: #888 transparent; pointer-events: none;
}
.dropdown:before {border-bottom-style: solid; border-top: none;}
.dropdown:after {margin-top: 7px; border-top-style: solid; border-bottom: none;}

.dropdown-select {
  position: relative; width: 100%; margin: 0;  padding: 4px 8px 6px; line-height: 1.4;
  /* Fallback for IE 8 */
  background: #F2F2F2;
  /* "transparent" doesn't work with Opera */
  background: rgba(0, 0, 0, 0) !important;
  border: 0; border-radius: 0;
  -webkit-appearance: none;
}
.dropdown-select:focus {
  z-index: 3; width: 100%; 
}
.dropdown-select > option {
  margin: 3px; padding: 6px 8px; 
  border-radius: 3px; cursor: pointer;
  overflow: hidden;
  background: #FAFAFA; color: #7E7E7E;
  background: linear-gradient(#FDFDFD, #F9F9F9 50%, #F5F5F5 96%, #F2F2F2 98%);
}

/* Dirty fix for Firefox adding padding where it shouldn't. */
@-moz-document url-prefix() {
  .dropdown-select {
    padding-left: 6px;
  }
}

/*GLOBAL STYLES*/
mark {background: #C5DD9F; color:#FFF;}
::selection {background: #83B03E; color:#E8F2F2;}
::-moz-selection {background: #83B03E; color:#E8F2F2;}
a {color: #83B03E;}
a:hover {color: #79A439;}
body {
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	line-height: 1.4;
	background: #E9E9E9 url('../grafix/background.jpg');
	background-attachment:fixed;
	color: #48494F;
}
small {font-size:0.94em;}


body, #header, #page-single, #page, #footer {padding: 0; margin: 0 auto;}
#header {background: #C0006B; color: #E8F2F2; font-size:0.92em; padding:4px 0; border-bottom: 2px solid #950052; background:linear-gradient(#E5007D,	#CE0071, #BA0066); overflow:hidden;}
.greeting, .date {margin: 0 10px;}
.topmenu {background: #C0006B; overflow:hidden;padding:4px 0; margin:0 auto;}
.topmenu li .topnav {
	background: #000; 
	text-decoration:none; text-transform:capitalize; color:#FFF;
	text-shadow: 1px 0 1px #211E1D;  padding:6px 10px; border-right: 1px solid #E8F2F2;
}
.topmenu li:last-child .topnav {border:none;}

#topnav li {float:left;}
.topmenu .topnav:hover {
	background: rgba(0,0,0,0.3);
}

.breadcrum {margin:0 auto;  text-align:center;}
.user {color: #C5DD9F; text-transform:uppercase;}
.page-content {padding: 10px 10px 20px; background: rgba(255,255,255, 0.45); border:1px solid rgba(255,255,255, 0.86);}
#footer {
	margin-top:20px; padding:4px 10px; border-top: 2px solid #950052; border-bottom: 1px solid rgba(255,25,255, 0.1); border-radius: 0 0 3px 3px;
	color: #C0006B;  font-size:0.9em; background: rgba(255,160,255, 0.1);
}
#footer .product {font-family:"Lane", Arial, Helvetica, sans-serif; font-size:1.2em; margin-left:4px; margin-right:-3px; color:#FFF; text-shadow: 1px 0 1px #C0006B; text-transform:lowercase; letter-spacing:1px;}
#footer:hover .product {color:#BA0066;}
#footer .brand {text-shadow: 1px 1px 1px #FFF; color: #83B03E;}
#footer a.brand {text-decoration:none;}

/*navigation*/
#nav {min-width:160px; max-width:160px; border:none; overflow:auto;}
#menu .heading {border-bottom:1px solid #FFF; text-transform:uppercase; font-size:0.8em; background:#640037; margin-top:4px; color:#FFF;}
#menu .space {margin-top:10px;}
#menu a {
	text-transform:lowercase; text-shadow: 1px 0 1px #211E1D; color:#FFF; text-decoration:none; display:block; letter-spacing:1px; 
	background:#424242; background: rgba(0,0,0,0.6); background:linear-gradient(#E5007D,	#CE0071, #BA0066); text-wrap:none;
}
#menu a:hover {background:rgba(0,0,0, 0.4);}