/* erko™ framework ~ an evolving, robust platform for rapid & efficient development of modem responsive static or dynamic website;
 * Built by DeronEllse™ [@deronellse - www.deronellse.com/about] using PHP, MySQL, HTML, CSS, JS & derived technology.
 * © February 2016 | version 1.0
 * ===================================================================================================================
 * Dependency »
 * CSS | large::desktop ~ large screen styles
 */

@font-face {
   font-family: 'Questrial';
   src: url('font/Questrial.eot');
   src: url('font/Questrial.eot?#iefix') format('embedded-opentype'),
         url('font/Questrial.woff2') format('woff2'),
         url('font/Questrial.woff') format('woff'),
         url('font/Questrial.ttf') format('truetype'),
         url('font/Questrial.svg#questrialregular') format('svg');
   font-weight: normal; font-style: normal;
}
mark {background: #1D88BC; color: #DAEFFA; padding: 0 2px;}
::selection {background: #28A4DF; color: #DAEFFA;}
::-webkit-scrollbar {width: 0.6em; height: 0.6em;}
::-webkit-scrollbar-track {-webkit-box-shadow: inset 1px 0 6px rgba(0,0,0, 0.4); border: 1px solid rgba(0,0,0, 0.2);}
::-webkit-scrollbar-track:hover {-webkit-box-shadow: inset 1px 0 6px rgba(0,0,0 0.1);}
::-webkit-scrollbar-thumb {
  background: #166B94; outline: 0; border: 0;
  background: linear-gradient(to right, #0F4B67 4%, #115271 10%, #166B94, #166B94, #115271 86%, #0F4B67);
}
::-webkit-scrollbar-thumb:hover {
	background: #1D88BC; background: linear-gradient(to right, #156389 4%, #17719B 10%, #1D88BC, #1D88BC, #17719B 86%, #156389);
}

body {/*font-family: 'Questrial', Helvetica, Arial, Tahoma, sans-serif; line-height: 1.4;*/ min-width: 980px;}

#page {max-width: 1200px;}

/*topbar*/


/*navigation*/
#navigation li a.menu {display: block; background: linear-gradient(#015F9C, #06568A 6%, #0B4B75 48%, #104162 96%, #14384F 100%);}
  .js .nav-collapse {position: relative;}
  .js .nav-collapse.closed {max-height: none;}
  .nav-toggle {display: none;}

  #navigation li {float: left;}
  #navigation li a.menu {padding: 10px 11px 10px 12px; border-right: 1px solid #055285; text-transform: capitalize;}
  #navigation li:last-child a.menu {padding-right: 12px; border-right: none;}
  #navigation li a.menu:hover {padding-bottom: 8px; border-bottom: 2px solid #9CC7E2;}


/*banner*/
#banner .heading {
  position: absolute; top: 20px; right: 10px; z-index: 10;
  padding: 5px 10px; font-size: 1.1em; text-align: center;
}
.caption {
  left: 20px; bottom: 20px;
  padding: 5px 10px; font-size: 1.1em; background: rgba(0,0,0, 0.5); text-align: left;
  border: 1px solid rgba(255,255,255, 0.4); border-radius: 3px;
}
.banner_nav {
  top: 45%; height: 60px; width: 38px; margin-top: -45px;
  background: transparent url("../banner/slide-arrow.gif") no-repeat left top;
  border: 1px solid rgba(255,255,255,0.3); border-radius: 3px;
}


/*secondary*/
#brief, #contact, #mailing {width: 33.33%;}
#brief {float: left;}
#brief .content {margin-right: 10px;}
#contact {float: right;}
#contact .content {margin-left: 10px;}
#mailing {margin-left: auto; margin-right: auto;}
#secondary .content {padding-bottom: 1000em; margin-bottom: -1000em;}

.socialmedia li {margin: 0 2px;}
a.facebook, a.twitter, a.google, a.youtube, a.linkedin {height: 30px; width: 30px; background-size: 150px 90px;}
a.facebook{background-position: 0 0;}
a.twitter{background-position: -30px 0;}
a.google{background-position: -60px 0;}
a.youtube{background-position: -90px 0;}
a.linkedin{background-position: -120px 0;}

a.facebook:hover {background-position: 0 -60px;}
a.twitter:hover {background-position: -30px -60px;}
a.google:hover {background-position: -60px -60px;}
a.youtube:hover {background-position: -90px -60px;}
a.linkedin:hover {background-position: -120px -60px;}
a.footer-link:hover {text-decoration:underline;}

a.facebook:focus {background-position: 0 -30px;}
a.twitter:focus {background-position: -30px -30px;}
a.google:focus {background-position: -60px -30px;}
a.youtube:focus {background-position: -90px -30px;}
a.linkedin:focus {background-position: -120px -30px;}
