/* erko™ framework ~ an evolving, robust platform for rapid & efficient development of modem responsive static or dynamic website;
 * Built by DeronEllse™ [@deronellse - www.deronellse.com/about] using PHP, MySQL, HTML, CSS, JS & derived technology.
 * © February 2016 | version 1.0
 * ===================================================================================================================
 * Dependency »
 * CSS | ie::internet explorer ~ styles targeting internet explorer version 9 and below
 */

#page {width: 1200px;}


/*header*/
#logo img.flex {width: 427px; height: 50px;}

/*navigation*/
#navigation li a.menu {display: block; background: linear-gradient(#015F9C, #06568A 6%, #0B4B75 48%, #104162 96%, #14384F 100%);}
  .js .nav-collapse {position: relative;}
  .js .nav-collapse.closed {max-height: none;}
  .nav-toggle {display: none;}

  #navigation li {float: left;}
  #navigation li a.menu {padding: 10px 11px 10px 12px; border-right: 1px solid #055285; text-transform: capitalize;}
  #navigation li:last-child a.menu {padding-right: 12px; border-right: none;}
  #navigation li a.menu:hover {padding-bottom: 8px; border-bottom: 2px solid #9CC7E2;}


/*banner*/
#banner .heading {
  position: absolute; top: 20px; right: 10px; z-index: 10;
  padding: 5px 10px; font-size: 1.1em; text-align: center; color: #FFFFFF;
}
.caption {
  left: 20px; bottom: 20px;
  padding: 5px 10px; font-size: 1.1em; background: #000000; text-align: left;
}
.banner_nav {
  top: 45%; height: 60px; width: 38px; margin-top: -45px;
  background: transparent url("../banner/slide-arrow.gif") no-repeat left top;
}


/*secondary*/
#secondary {background-position: bottom;}
#secondary .heading {font-weight: bold;}
#brief, #contact, #mailing {width: 33.33%;}
#brief {float: left;}
#brief .content {margin-right: 10px;}
#contact {float: right;}
#contact .content {margin-left: 10px;}
#mailing {margin-left: auto; margin-right: auto;}
#mailing .content{border-left: 1px solid #E8E7EB; border-right: 1px solid #E8E7EB;}

.socialmedia li {margin: 0 2px;}
a.facebook, a.twitter, a.google, a.youtube, a.linkedin {background: url('../icon/stripes-sm-ie.png') no-repeat;}
a.facebook, a.twitter, a.google, a.youtube, a.linkedin {height: 30px; width: 30px; background-size: 150px 90px;}
a.facebook{background-position: 0 0;}
a.twitter{background-position: -30px 0;}
a.google{background-position: -60px 0;}
a.youtube{background-position: -90px 0;}
a.linkedin{background-position: -120px 0;}

a.facebook:hover {background-position: 0 -30px;}
a.twitter:hover {background-position: -30px -30px;}
a.google:hover {background-position: -60px -30px;}
a.youtube:hover {background-position: -90px -30px;}
a.linkedin:hover {background-position: -120px -30px;}
a.footer-link:hover {text-decoration:underline;}


/*footer navigation*/
#footerNav li a.menu:hover {text-decoration: underline;}


/*footer*/
#footer {filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4D000000,endColorstr=#4D000000);}
#render {background: #1C1C1C;}