/* erko3™ framework - an evolving, robust platform for rapid & efficient development of modem responsive static or dynamic website.
 * Built by SlimEdge™ [@officialSEID - www.seid.com.ng] using PHP, HTML, CSS, JS & derived technology. © July 2016 | version 1.0
 * ================================================================================================================================
 * CSS | large::asset ~ large screen devices except IE8-6
 */

@font-face {
   font-family: 'Questrial';
   src: url('upload/font/Questrial.eot');
   src: url('upload/font/Questrial.eot?#iefix') format('embedded-opentype'),
		url('upload/font/Questrial.woff2') format('woff2'),
		url('upload/font/Questrial.woff') format('woff'),
		url('upload/font/Questrial.ttf') format('truetype'),
		url('upload/font/Questrial.svg#questrialregular') format('svg');
   font-weight: normal; font-style: normal;
}
::selection {background: #28A4DF; color: #DAEFFA;}
::-webkit-scrollbar {width: 0.6em; height: 0.6em;}
::-webkit-scrollbar-track {
	-moz-box-shadow: inset 1px 0 6px rgba(0,0,0, 0.4); -webkit-box-shadow: inset 1px 0 6px rgba(0,0,0, 0.4); box-shadow: inset 1px 0 6px rgba(0,0,0, 0.4);
	border-width: 1px; border-style: solid; border-color: #FFF; border-color: rgba(0,0,0, 0.2);
}
::-webkit-scrollbar-track:hover {
	-moz-box-shadow: inset 1px 0 6px rgba(0,0,0 0.1); -webkit-box-shadow: inset 1px 0 6px rgba(0,0,0 0.1); box-shadow: inset 1px 0 6px rgba(0,0,0, 0.1);}
::-webkit-scrollbar-thumb {
	border: 0; background: #166B94; background: linear-gradient(to right, #0F4B67 4%, #115271 10%, #166B94, #166B94, #115271 86%, #0F4B67);
}
::-webkit-scrollbar-thumb:hover {background: #1D88BC; background: linear-gradient(to right, #156389 4%, #17719B 10%, #1D88BC, #1D88BC, #17719B 86%, #156389);}
	
body {font-family: 'Questrial', Arial, Helvetica, sans-serif; min-width: 980px; max-width: 1280px;}



table {width: 100%;}


/*Begin FORM*/
textarea, input {padding: 4px 10px 6px; font-size: 1em;}


/*Begin NAVIGATION*/
.navbar {padding-right: 10px;}
	.mainNav {float: left;}
		.mainNav li {float: left;}
		.mainNav .navlink {
			border-right: 1px solid #055285; padding: 10px 11px 10px 12px; text-transform: capitalize;
			background: linear-gradient(#015F9C, #06568A 6%, #0B4B75 48%, #104162 96%, #14384F 100%);
		}
		.mainNav li:last-child .navlink {border-right: 0; padding-right: 12px;}
		.mainNav .navlink:hover {border-bottom: 2px solid #9CC7E2; padding-bottom: 8px;}
@media screen and (max-width: 990px){
		.mainNav .navlink {padding: 10px 10px 10px 11px;}
		.mainNav li:last-child .navlink {padding-right: 11px;}
}

	.searchForm {float: right; padding-top: 6px;}
		.navbar .btn {padding-left: 5px;}


/*Begin BANNER*/
.pageBanner {max-width: 1280px; min-height: 440px; margin: 0 auto; background-size: cover;}
.bannerHeading {
  position: absolute; top: 20px; left: 0; right: 0; z-index: 10; font-size: 1.2em; text-align: right; padding: 4px 20px;
}
.pageBanner .caption {
  background-color: #000; background-color: rgba(0,0,0, 0.5); left: 20px; bottom: 30px; margin: 0; font-size: 1.1em; padding: 4px 8px;
  text-align: left; border-width: 1px; border-style: solid; border-color: #FFF; border-color: rgba(255,255,255,0.5); border-radius: 3px;
}
.bannerslides_nav {
  background: transparent url("image/slide/arrow.gif") no-repeat left top; top: 45%; height: 61px; width: 38px; margin-top: -45px;
  border-width: 1px; border-style: solid; border-color: #FFF; border-color: rgba(255,255,255,0.3); border-radius: 3px;
}


/*Begin SECONDARY*/
.moreInfo {background-size: cover; padding: 10px;}
.brief, .quickcontact, .search, .newsletter {
  width: 32.7%; padding-bottom: 1000em; margin-bottom: -1000em;
  border-width: 1px; border-style: solid; border-color: #FFF; border-color: rgba(255,255,255, 0.3); 
}
.brief {float: left;}
.quickcontact {float: right;}
.newsletter {margin-left: auto; margin-right: auto;}
.moreInfo .content {margin: 10px;}

.socialMedia li {margin: 0 2px;}
a.facebook, a.twitter, a.google, a.youtube, a.linkedin {
  height: 30px; width: 30px; background-size: 150px 90px; background: url('image/stripes-sm-desktop.png') no-repeat;
}
a.facebook{background-position: 0 0;}
a.twitter{background-position: -30px 0;}
a.google{background-position: -60px 0;}
a.youtube{background-position: -90px 0;}
a.linkedin{background-position: -120px 0;}

a.facebook:hover {background-position: 0 -60px;}
a.twitter:hover {background-position: -30px -60px;}
a.google:hover {background-position: -60px -60px;}
a.youtube:hover {background-position: -90px -60px;}
a.linkedin:hover {background-position: -120px -60px;}

a.facebook:focus {background-position: 0 -30px;}
a.twitter:focus {background-position: -30px -30px;}
a.google:focus {background-position: -60px -30px;}
a.youtube:focus {background-position: -90px -30px;}
a.linkedin:focus {background-position: -120px -30px;}