#Turn on Apache rewrite engine
RewriteEngine on

#Inherit parent directory's rules [BE CAREFUL WITH THIS]
RewriteOptions inherit

#Enable symbolic link
Options +FollowSymLinks

#Set default character set
AddDefaultCharset utf-8

#Preserve bandwidth for PHP enabled servers
<ifmodule mod_php4.c>
	php_value zlib.output_compression 16386
</ifmodule>

#Process the following file extensions as PHP
AddType application/x-httpd-php .php .inc .phtml .html .htm .php4 .php3 .shtml

#Alternate default index pages
DirectoryIndex index.php index.html index.phtml index.htm index.php

#Enable GZip compression
<IfModule mod_gzip.c>
	mod_gzip_on Yes
	mod_gzip_dechunk Yes
	mod_gzip_item_include file \.(html?|txt|css|js|php)$
	mod_gzip_item_include mime ^application/x-javascript.*
	mod_gzip_item_exclude mime ^asset/.*
	mod_gzip_item_exclude rspheader ^source-Encoding:.*gzip.*
</IfModule>

#Disable the server signature
ServerSignature Off

#Set the server timezone
SetEnv TZ Africa/Lagos

#Set the server administrator email
SetEnv SERVER_ADMIN admin@vae24.com

#Implement caching
<FilesMatch "\.(flv|gif|jpg|jpeg|png|ico|js|css|pdf|swf|html|htm|txt)$">
	Header set Cache-Control "max-age=5"
	# Header set Cache-Control "max-age=86400"
</FilesMatch>

#Set the default language
DefaultLanguage en-US


#Define base directory path (*only when base is different from current directory)
RewriteBase /

#Disable index (directory) listing [*possible GOTCHA when using 'Options All -Indexes']
# Options -Indexes
Options All -Indexes


#Prevent possible infinite loop
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-f
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-d


#Prevent routing/rewriting for request on [PHP & HTML] files/URI
# RewriteCond %{REQUEST_URI} !.*\.php [NC]
# RewriteCond %{REQUEST_URI} !.*\.html [NC]
# RewriteCond %{REQUEST_URI} !.*\.htm [NC]
# RewriteCond %{REQUEST_URI} !.*\.phtml [NC]


#Forbid access to directory
RedirectMatch 403 ^/_o/?$


# REWRITE - for existing directory
RewriteRule ^_o$ o_/ [NC,QSA,END]
RewriteRule ^bry$ bry/ [NC,QSA,END]
RewriteRule ^core$ core/ [NC,QSA,END]

#REWRITE - for favicon on base-project ([favicon.ico] → /source/asset/favicon.ico)
RewriteRule ^_owww\/$ /_o/ignor/www/ [NC,QSA,END]
RewriteRule ^_owww\/(.*)$ /_o/ignor/www/$1 [NC,QSA,END]


#REWRITE - for API
#[sub.domain.com/api/ → index.php?oproject=sub&olink=api&oapi=index]
RewriteCond %{HTTP_HOST} ^(.+?)(\.(.+)\.(.+))$
RewriteRule ^api\/$ /index.php?oproject=%1&olink=api&oapi=index [NC,QSA,END]

#[domain.com/api/ → index.php?oproject=default&olink=api&oapi=index]
RewriteRule ^api\/$ /index.php?oproject=default&olink=api&oapi=index [NC,QSA,END]

#[sub.domain.com/api/login → index.php?oproject=sub&olink=api&oapi=login]
RewriteCond %{HTTP_HOST} ^(.+?)(\.(.+)\.(.+))$
RewriteRule ^api\/(.*)$ /index.php?oproject=%1&olink=api&oapi=$1 [NC,QSA,END]

#[domain.com/api/login → index.php?oproject=default&olink=api&oapi=login]
RewriteRule ^api\/(.*)$ /index.php?oproject=default&olink=api&oapi=$1 [NC,QSA,END]

#[api.domain.com/api/ → index.php?oproject=api&olink=api&oapi=index]
RewriteCond %{HTTP_HOST} ^(api\.)(.+)$
RewriteRule ^((?!o\/.*$))$ /index.php?oproject=api&olink=api&oapi=index [NC,QSA,END]

#[api.domain.com/api/login → index.php?oproject=api&olink=api&oapi=login]
RewriteCond %{HTTP_HOST} ^(api\.)(.+)$
RewriteRule ^((?!o\/.*$).*)$ /index.php?oproject=api&olink=api&oapi=$1 [NC,QSA,END]




#REWRITE - for favicon on base-project ([favicon.ico] → /source/asset/favicon.ico)
RewriteRule ^favicon\.ico$ /core/asset/media/icon/favicon.ico [NC,QSA,END]
RewriteRule ^favicon\.png$ /core/asset/media/icon/favicon.png [NC,QSA,END]



RewriteRule ^oredirect\/(.*)$ /index.php?oredirect=$1 [NC,QSA,END]




#REWRITE - virtual directory
RewriteRule ^upload$ upload/ [NC,QSA,END]
RewriteRule ^upload\/(.*)$ /upload/$1 [NC,QSA,END]
RewriteRule ^asset\/(.*)$ /core/asset/$1 [NC,QSA,END]
RewriteRule ^cloud\/(.*)$ /upload/$1 [NC,QSA,END]
RewriteRule ^media\/(.*)$ /core/asset/media/$1 [NC,QSA,END]
		RewriteRule ^audio\/(.*)$ /core/asset/media/audio/$1 [NC,QSA,END]
		RewriteRule ^icon\/(.*)$ /core/asset/media/icon/$1 [NC,QSA,END]
		RewriteRule ^grafix\/(.*)$ /core/asset/media/grafix/$1 [NC,QSA,END]
		RewriteRule ^video\/(.*)$ /core/asset/media/video/$1 [NC,QSA,END]
		RewriteRule ^document\/(.*)$ /core/asset/media/document/$1 [NC,QSA,END]
RewriteRule ^font\/(.*)$ /core/asset/font/$1 [NC,QSA,END]
RewriteRule ^plugin\/(.*)$ /core/asset/plugin/$1 [NC,QSA,END]
RewriteRule ^css\/(.*)$ /core/asset/css/$1 [NC,QSA,END]
RewriteRule ^js\/(.*)$ /core/asset/script/$1 [NC,QSA,END]





#REWRITE - for APP
#[sub.domain.com/app/ → index.php?oproject=sub&olink=app&oapp=index]
RewriteCond %{HTTP_HOST} ^(.+?)(\.(.+)\.(.+))$
RewriteRule ^app\/$ /index.php?oproject=%1&olink=app&oapp=index [NC,QSA,END]

#[domain.com/app/ → index.php?oproject=default&olink=app&oapp=index]
RewriteRule ^app\/$ /index.php?oproject=default&olink=app&oapp=index [NC,QSA,END]

#[sub.domain.com/app/login → index.php?oproject=sub&olink=app&oapp=login]
RewriteCond %{HTTP_HOST} ^(.+?)(\.(.+)\.(.+))$
RewriteRule ^app\/(.*)$ /index.php?oproject=%1&olink=app&oapp=$1 [NC,QSA,END]

#[domain.com/app/login → index.php?oproject=default&olink=app&oapp=login]
RewriteRule ^app\/(.*)$ /index.php?oproject=default&olink=app&oapp=$1 [NC,QSA,END]

#[app.domain.com/app/ → index.php?oproject=app&olink=app&oapp=index]
RewriteCond %{HTTP_HOST} ^(app\.)(.+)$
RewriteRule ^((?!o\/.*$))$ /index.php?oproject=app&olink=app&oapp=index [NC,QSA,END]

#[app.domain.com/app/login → index.php?oproject=app&olink=app&oapp=login]
RewriteCond %{HTTP_HOST} ^(app\.)(.+)$
RewriteRule ^((?!o\/.*$).*)$ /index.php?oproject=app&olink=app&oapp=$1 [NC,QSA,END]


#REWRITE - for SUB DOMAIN
RewriteCond %{HTTP_HOST} ^(.+?)(\.(.+)\.(.+))$
RewriteRule ^((?!_o\/.*$)(?!_owww\/.*$)(?!api\/.*$)(?!app\/.*$)(?!favicon.ico$)(?!favicon.png$)(?!upload\/.*$)(?!asset\/.*$)(?!cloud\/.*$)(?!media\/.*$)(?!icon\/.*$)(?!audio\/.*$)(?!video\/.*$)(?!document\/.*$)(?!grafix\/.*$)(?!plugin\/.*$)(?!font\/.*$)(?!plugin\/.*$)(?!css\/.*$)(?!js\/.*$)(?!ajax\/.*$)(?!go\/.*$)(?!redirect\/.*$))$ /index.php?oproject=%1&olink=index [NC,QSA,END]

RewriteRule ^((?!_o\/.*$)(?!_owww\/.*$)(?!api\/.*$)(?!app\/.*$)(?!favicon.ico$)(?!favicon.png$)(?!upload\/.*$)(?!asset\/.*$)(?!cloud\/.*$)(?!media\/.*$)(?!icon\/.*$)(?!audio\/.*$)(?!video\/.*$)(?!document\/.*$)(?!grafix\/.*$)(?!plugin\/.*$)(?!font\/.*$)(?!plugin\/.*$)(?!css\/.*$)(?!js\/.*$)(?!ajax\/.*$)(?!go\/.*$)(?!redirect\/.*$))$ /index.php?oproject=default&olink=index [NC,QSA,END]


RewriteCond %{HTTP_HOST} ^(.+?)(\.(.+)\.(.+))$
RewriteRule ^((?!_o\/.*$)(?!_owww\/.*$)(?!api\/.*$)(?!app\/.*$)(?!favicon.ico$)(?!favicon.png$)(?!upload\/.*$)(?!asset\/.*$)(?!cloud\/.*$)(?!media\/.*$)(?!icon\/.*$)(?!audio\/.*$)(?!video\/.*$)(?!document\/.*$)(?!grafix\/.*$)(?!plugin\/.*$)(?!font\/.*$)(?!plugin\/.*$)(?!css\/.*$)(?!js\/.*$)(?!ajax\/.*$)(?!go\/.*$)(?!redirect\/.*$).*)$ /index.php?oproject=%1&olink=$1 [NC,QSA,END]

RewriteRule ^((?!_o\/.*$)(?!_owww\/.*$)(?!api\/.*$)(?!app\/.*$)(?!favicon.ico$)(?!favicon.png$)(?!upload\/.*$)(?!asset\/.*$)(?!cloud\/.*$)(?!media\/.*$)(?!icon\/.*$)(?!audio\/.*$)(?!video\/.*$)(?!document\/.*$)(?!grafix\/.*$)(?!plugin\/.*$)(?!font\/.*$)(?!plugin\/.*$)(?!css\/.*$)(?!js\/.*$)(?!ajax\/.*$)(?!go\/.*$)(?!redirect\/.*$).*)$ /index.php?oproject=default&olink=$1 [NC,QSA,END]




#HTTP ERROR - error documents defined
ErrorDocument 400 /index.php?olink=http&code=400
ErrorDocument 401 /index.php?olink=http&code=401
ErrorDocument 403 /index.php?olink=http&code=403
ErrorDocument 404 /index.php?olink=http&code=404
ErrorDocument 500 /index.php?olink=http&code=500