.navbar-nav .fas {margin-right: 5px;}
.odao-radio-label {margin-left: 10px; margin-right: 10px;}
.odao-radio-div{margin-top: 10px; margin-left: 10px;}
.odao-label {font-weight: bold; color: rgba(0,0,0,.8);}
.odao-bottom-button {margin-top: 20px; margin-bottom: 20px;}

.odao-navspace {margin: auto 10px;}
.odao-actbtn {margin-right: 10px;}
