/* erko™ framework ~ an evolving, robust platform for rapid & efficient development of modem responsive static or dynamic website;
 * Built by DeronEllse™ [@deronellse - www.deronellse.com/about] using PHP, MySQL, HTML, CSS, JS & derived technology.
 * © February 2016 | version 1.0
 * ===================================================================================================================
 * Dependency »
 * CSS | medium::tablet ~ medium screen styles
 */

@font-face {
   font-family: 'Questrial';
   src: url('font/Questrial.eot');
   src: url('font/Questrial.eot?#iefix') format('embedded-opentype'),
         url('font/Questrial.woff2') format('woff2'),
         url('font/Questrial.woff') format('woff'),
         url('font/Questrial.ttf') format('truetype'),
         url('font/Questrial.svg#questrialregular') format('svg');
   font-weight: normal; font-style: normal;
}
mark {background: #1D88BC; color: #DAEFFA; padding: 0 2px;}
::selection {background: #28A4DF; color: #DAEFFA;}
::-webkit-scrollbar {width: 0.6em; height: 0.6em;}
::-webkit-scrollbar-track {-webkit-box-shadow: inset 1px 0 6px rgba(0,0,0, 0.4); border: 1px solid rgba(0,0,0, 0.2);}
::-webkit-scrollbar-track:hover {-webkit-box-shadow: inset 1px 0 6px rgba(0,0,0 0.1);}
::-webkit-scrollbar-thumb {
  background: #166B94; outline: 0; border: 0;
  background: linear-gradient(to right, #0F4B67 4%, #115271 10%, #166B94, #166B94, #115271 86%, #0F4B67);
}
::-webkit-scrollbar-thumb:hover {
	background: #1D88BC; background: linear-gradient(to right, #156389 4%, #17719B 10%, #1D88BC, #1D88BC, #17719B 86%, #156389);
}

body {font-family: 'Questrial', Helvetica, Arial, Tahoma, sans-serif; line-height: 1.5; min-width: 600px;}


/*header*/
@media only screen and (max-device-width: 639px){
#header .contact {display: none;}
}


/*navigation*/
#navigation li a.menu {display: block; background: linear-gradient(#015F9C, #06568A 6%, #0B4B75 48%, #104162 96%, #14384F 100%);}

@media screen and (min-width: 640px) {
	.js .nav-collapse {position: relative;}
	.js .nav-collapse.closed {max-height: none;}
	.nav-toggle {display: none;}

	#navigation li {float: left;}
	#navigation li a.menu {padding: 10px 13px 10px 14px; border-right: 1px solid #055285; text-transform: capitalize;}
	#navigation li:last-child a.menu {padding-right: 14px; border-right: none;}
	#navigation li a.menu:hover {padding-bottom: 8px; border-bottom: 2px solid #9CC7E2;}
	@media screen and (max-width: 720px) {
	#navigation li:nth-child(7) a.menu {display: none;}
	}
	@media screen and (max-width: 658px) {
	#navigation li:nth-child(5) a.menu {display: none;}
	}
}

@media screen and (max-width: 639px) {
	.nav-toggle {display: block; padding: 12px 12px 12px 46px; background: #244868 url('../icon/nav.gif') no-repeat 10px center;}
	#navigation a[class='nav-toggle active'], .nav-toggle:hover {background: #0C1823 url('../icon/nav-hover.gif') no-repeat 10px center;}

	#navigation li a.menu {line-height: 1.9em; padding: 10px 10px 9px; border-bottom: 1px solid #055285; text-transform: uppercase;}
	#navigation li:last-child a.menu, #navigation li.last {border-bottom: 0; padding-bottom: 10px;}
	#navigation li a.menu:hover {border-color: #9CC7E2;}
}


/*banner*/
#banner .heading {
	position: absolute; top: 20px; left: 10px; z-index: 10;
	padding: 5px 10px; font-size: 1em; text-align: center;
}
.caption {
	left: 0; right: 0; bottom: 0;
	padding: 5px 10px; font-size: 1em; background: rgba(0,0,0, 0.8); text-align: center;
}
.banner_nav {
	top: 50%; height: 46px; width: 38px; margin-top: -45px;
	background: transparent url("../banner/slide-tablet-arrow.gif") no-repeat left top;
	border: 1px solid rgba(255,255,255,0.3); border-radius: 3px;
}


/*secondary*/
@media screen and (min-width: 799px){
	#contact, #search, #mailing {width: 33.33%;}
	#contact {float: left;}
	#contact .content {margin-right: 8px;}
	#search {float: right;}
	#search .content {margin-left: 8px;}
	#mailing {margin-left: auto; margin-right: auto;}
	#secondary .content {padding-bottom: 1000em; margin-bottom: -1000em;}
}

@media screen and (max-width: 798px) {
	#search .content {margin-top: 10px;}
	#mailing .content {margin-top: 10px;}
}

#mailingTable .label {text-align: left;}

.socialmedia li {margin: 5px;}
a.facebook, a.twitter, a.google, a.youtube, a.linkedin {height: 60px; width: 60px; background-size: 300px 180px; border-radius: 3px;}
a.facebook {background-position: 0 0;}
a.twitter {background-position: -60px 0;}
a.google {background-position: -120px 0;}
a.youtube {background-position: -180px 0;}
a.linkedin {background-position: -240px 0;}

a.facebook:hover {background-position: 0 -120px;}
a.twitter:hover {background-position: -60px -120px;}
a.google:hover {background-position: -120px -120px;}
a.youtube:hover {background-position: -180px -120px;}
a.linkedin:hover {background-position: -240px -120px;}


/*form*/
textarea, input[type=text], input[type=email], input[type=password], input[type=tel], input[type=submit], input[type=reset]{line-height: 1.5;}
textarea, input[type=text], input[type=email], input[type=password], input[type=tel]{font-size: 1.2em;}