#Turn on rewrite engine
RewriteEngine on

#Inherit rules from parent directory
RewriteOptions inherit

#Enable symbolic links
Options +FollowSymLinks

#Define Charset
AddDefaultCharset utf-8

#Optimize bandwidth consumption for PHP enabled servers
<ifmodule mod_php4.c>
	php_value zlib.output_compression 16386
</ifmodule>

#Process .inc|.htm|.html as PHP
AddType application/x-httpd-php .inc .htm .html

#Enable GZip Comprehension
<IfModule mod_gzip.c>
	mod_gzip_on Yes
	mod_gzip_dechunk Yes
	mod_gzip_item_include file \.(html?|txt|css|js|php)$
	mod_gzip_item_include mime ^application/x-javascript.*
	mod_gzip_item_exclude mime ^source/media/image/.*
	mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</IfModule>

#Define basepath (*only if different from current directory)
#RewriteBase /

#Disable index listing for directories (*possible GOTCHA when using 'Options All -Indexes')
Options -Indexes


#Prevent infinite looping
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#Prevent rewrite request for files ending with PHP|HTML (file.php)
RewriteCond %{REQUEST_URI} !.*\.php
RewriteCond %{REQUEST_URI} !.*\.html

#Rewrite every other request but DOWNLOAD|SCRIPT|FONT|STYLE|AUDIO|VIDEO|IMAGE|DOCUMENT|FORM|API to index.php?route=request
RewriteRule ^((?!asset\/.*$).*)$ ./index.php?api=$1 [NC,QSA,END]