#Turn on apache rewrite engine
RewriteEngine on

#Inherit parent directory's rules
RewriteOptions inherit

#Enable symbolic link
Options +FollowSymLinks

#Set default character set
AddDefaultCharset utf-8

#Preserve bandwidth for PHP enabled servers
<ifmodule mod_php4.c>
	php_value zlib.output_compression 16386
</ifmodule>

#Process files .inc|.htm|.html as PHP
AddType application/x-httpd-php .php .php4 .php3 .phtml .html .htm .shtml .inc .sp

#Alternate default index pages
DirectoryIndex index.sp index.php index.htm index.html

#Enable gzip compression
<IfModule mod_gzip.c>
	mod_gzip_on Yes
	mod_gzip_dechunk Yes
	mod_gzip_item_include file \.(html?|txt|css|js|php)$
	mod_gzip_item_include mime ^application/x-javascript.*
	mod_gzip_item_exclude mime ^app/asset/.*
	mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</IfModule>

#Set base directory path [*only if different from current directory]
# RewriteBase /

#Disable index (directory) listing [*possible GOTCHA when using 'Options All -Indexes']
Options -Indexes

#Prevent possible infinite loop
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-f
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-d

#Prevent routing/rewriting for request on PHP & HTML files (that exist)
RewriteCond %{REQUEST_URI} !.*\.php [NC]
RewriteCond %{REQUEST_URI} !.*\.html [NC]

#Define error documents
ErrorDocument 404 /index.php?http=404
ErrorDocument 403 /index.php?http=403


#Route (API) 'api/VAR' request to index.php?route=api&link=VAR
RewriteRule ^api/(.*)$ index.php?route=api&link=$1 [NC,QSA,END]
#Route api.domain.com/uri to /index.php?api=uri; RETAIN any other query string
RewriteCond %{HTTP_HOST} ^(api\.)(.+)$
RewriteRule ^(.*)$ index.php?route=api&link=$1 [NC,QSA,END]


#Define rewrite request for ASSET|CSS|JS|AUDIO|VIDEO|DOCUMENT|IMAGE|ICON|FONT|UPLOAD
RewriteRule ^asset\/(.*)$ build/asset/$1 [NC,QSA,END]
RewriteRule ^css\/(.*)$ build/asset/css/$1 [NC,QSA,END]
RewriteRule ^js\/(.*)$ build/asset/js/$1 [NC,QSA,END]
RewriteRule ^font\/(.*)$ build/asset/plugin/$1 [NC,QSA,END]
RewriteRule ^image\/(.*)$ build/asset/media/image/$1 [NC,QSA,END]
RewriteRule ^icon\/(.*)$ build/asset/media/image/$1 [NC,QSA,END]

RewriteRule ^audio\/(.*)$ build/asset/media/audio/$1 [NC,QSA,END]
RewriteRule ^video\/(.*)$ build/asset/media/video/$1 [NC,QSA,END]
RewriteRule ^document\/(.*)$ build/asset/media/document/$1 [NC,QSA,END]

RewriteRule ^plugin\/(.*)$ build/asset/plugin/$1 [NC,QSA,END]
RewriteRule ^upload\/(.*)$ build/asset/upload/$1 [NC,QSA,END]




#Route (APP) 'app/VAR' request to index.php?route=app&link=VAR
RewriteRule ^app/(.*)$ index.php?route=app&link=$1 [NC,QSA,END]
#Route app.domain.com/uri to /index.php?app=uri; RETAIN any other query string
RewriteCond %{HTTP_HOST} ^(app\.)(.+)$
RewriteRule ^(.*)$ index.php?route=app&link=$1 [NC,QSA,END]

#Route sub.domain.com/uri to /index.php?route=sub&link=uri; RETAIN any other query string
# RewriteCond %{HTTP_HOST} ^(.+?)(\.(.+)\.(.+))$
RewriteCond %{HTTP_HOST} ^(.+)\.dot\.ca$
RewriteRule ^(.*)$ index.php?route=%1&link=$1 [NC,QSA,END]

#Rewrite every other request but favicon|API|APP to index.php?route=site&link=request
RewriteRule ^((?!favicon\.ico$)(?!api\/.*$)(?!app\/.*$)(?!asset\/.*$)(?!css\/.*$)(?!js\/.*$)(?!font\/.*$)(?!image\/.*$)(?!icon\/.*$)(?!_source\/.*$).*)$ index.php?route=site&link=$1 [NC,QSA,END]