/* PYPE™ - web development framework [HTML/CSS/PHP/SQL/JS/MORE]
 * CSS | base - browser reset
 * Dependency »
 */
@charset "utf-8";
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, address, em, img, strong, sub, sup, tt, b, u, i, dl, dt, dd,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, section, audio, video, marquee, time, mark {
	margin: 0; padding: 0; border: 0;
	font: inherit; font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section,
h1, h2, h3, h4, h5, h6 {display: block;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after{content:none;}
q:before, q:after {content:'~';}
table {border-collapse: collapse; border-spacing: 0;}
img {vertical-align: middle;}
h1{font-size: 2em;} h2{font-size: 1.5em;} h3,.heading{font-size: 1.17em;}
h4{font-size: 1em;} h5{font-size: 0.83em;} h6{font-size: 0.67em;}

.group:before, .group:after {content: " "; display: table;}
.group:after {clear: both;}

nav ol, nav ul, nav li,
ul.navigation li, ul.socialmedia li {
	list-style: none;
	margin: 0; padding: 0; border: 0;
	vertical-align: baseline;
}
b{font-weight: bold;} i{font-style: italic;}
del, .del {text-decoration: line-through;}
img {vertical-align: middle;}

.hide {
	position: absolute;	overflow: hidden; clip: rect(0 0 0 0);
	height: 1px; width: 1px; margin: -1px; padding: 0; border: none;
}
.invisible {visibility: hidden;}
.visible {visibility: visible;}

body {font-weight:normal; font-style:normal; line-height: 1.2;/*line-height: 1.16;*/}

/* PRINT */
@media print {
	body {
		font-family: Georgia, serif;
		
		color: black;
	}
	
	#page {
		width: 100%;
		margin: 0; 
		padding: 0;
		background: none;
	}
	
	#header, #footer, #sidebar, audio, video, object, embed {
		display: none;
	}
	
	article a:after, aside a:after {
		content: " [" attr(href) "] ";
	}
	
	#printed {
		border:1px solid #666;
		padding:6px;
	}
	
	img {  
		max-width: 100%;
	}


	#activeUser {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    }

    #activeUser .label {margin: 0 10px; text-align:right; width:120px; font-weight: bold;}
}